## Pizza Sales Analysis

**Purpose:**
- To identify insights, patterns, and trends in the data that might not be evident from raw data alone.

In [1]:
# Import libraries
import pandas as pd 
# pd?

# Import Visualization libraries
import plotly.express as px

# Import other libraries
import warnings
warnings.filterwarnings("ignore")

In [2]:
# %pip install openpyxl

In [3]:
# Import Dataset
pizza_df = pd.read_excel("../EDA/PizzaSalesData.xlsx", index_col=0)
pizza_df.head()

,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
order_details_id,,,,,,,,,,,
1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

## Exploratory Data Analysis

In [4]:
# Columns present in the dataset
pizza_df.columns

Index(['order_id', 'pizza_id', 'quantity', 'order_date', 'order_time',
       'unit_price', 'total_price', 'pizza_size', 'pizza_category',
       'pizza_ingredients', 'pizza_name'],
      dtype='object')

In [5]:
# Number of rows and columns
pizza_df.shape

(48620, 11)

In [6]:
# Data types of the columns
pizza_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48620 entries, 1 to 48620
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           48620 non-null  int64
 1   pizza_id           48620 non-null  object
 2   quantity           48620 non-null  int64
 3   order_date         48620 non-null  datetime64[ns]
 4   order_time         48620 non-null  object
 5   unit_price         48620 non-null  float64
 6   total_price        48620 non-null  float64
 7   pizza_size         48620 non-null  object
 8   pizza_category     48620 non-null  object
 9   pizza_ingredients  48620 non-null  object
 10  pizza_name         48620 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(2), object(6)
memory usage: 4.5+ MB

## Data Cleaning
- Change datatypes of the following columns to *category* using *.astype('')*:
    - pizza_size
    - pizza_category
    - pizza_ingredients
    - pizza_name

In [7]:
pizza_df['pizza_size'] = pizza_df['pizza_size'].astype('category')
pizza_df['pizza_category'] = pizza_df['pizza_category'].astype('category')
pizza_df['pizza_ingredients'] = pizza_df['pizza_ingredients'].astype('category')
pizza_df['pizza_name'] = pizza_df['pizza_name'].astype('category')

In [8]:
# Inspect unique values in the Categorical columns
for category in ['pizza_size', 'pizza_category', 'pizza_ingredients', 'pizza_name']:
    # print(category)
    print(f"Unique values in {category} are: {pizza_df[category].sort_values().unique()}\n")

Unique values in pizza_size are: ['L', 'M', 'S', 'XL', 'XXL']
Categories (5, object): ['L', 'M', 'S', 'XL', 'XXL']

Unique values in pizza_category are: ['Chicken', 'Classic', 'Supreme', 'Veggie']
Categories (4, object): ['Chicken', 'Classic', 'Supreme', 'Veggie']

Unique values in pizza_ingredients are: ['Bacon, Pepperoni, Italian Sausage, Chorizo Sa..., 'Barbecued Chicken, Red Peppers, Green Peppers..., 'Brie Carre Cheese, Prosciutto, Caramelized On..., 'Calabrese Salami, Capocollo, Tomatoes, Red On..., 'Capocollo, Red Peppers, Tomatoes, Goat Cheese..., ..., 'Spinach, Mushrooms, Tomatoes, Green Olives, F..., 'Spinach, Red Onions, Pepperoni, Tomatoes, Art..., 'Tomatoes, Anchovies, Green Olives, Red Onions..., 'Tomatoes, Red Peppers, Jalapeno Peppers, Red ..., '慛duja Salami, Pancetta, Tomatoes, Red Onions,...]
Length: 32
Categories (32, object): ['Bacon, Pepperoni, Italian Sausage, Chorizo Sa..., 'Barbecued Chicken, Red Peppers, Green Peppers..., 'Brie Carre Cheese, Prosciutto, Caramelized On..., 'Calabrese Salami, Capocollo, Tomatoes, Red On..., ..., 'Spinach, Red Onions, Pepperoni, Tomatoes, Art..., 'Tomatoes, Anchovies, Green Olives, Red Onions..., 'Tomatoes, Red Peppers, Jalapeno Peppers, Red ..., '慛duja Salami, Pancetta, Tomatoes, Red Onions,...]

Unique values in pizza_name are: ['The Barbecue Chicken Pizza', 'The Big Meat Pizza', 'The Brie Carre Pizza', 'The Calabrese Pizza', 'The California Chicken Pizza', ..., 'The Spinach Pesto Pizza', 'The Spinach Supreme Pizza', 'The Spinach and Feta Pizza', 'The Thai Chicken Pizza', 'The Vegetables + Vegetables Pizza']
Length: 32
Categories (32, object): ['The Barbecue Chicken Pizza', 'The Big Meat Pizza', 'The Brie Carre Pizza', 'The Calabrese Pizza', ..., 'The Spinach Supreme Pizza', 'The Spinach and Feta Pizza', 'The Thai Chicken Pizza', 'The Vegetables + Vegetables Pizza']

In [9]:
# Summary statistics of the numerical columns
pizza_df.describe()

,order_id,quantity,order_date,unit_price,total_price
count,48620.000000,48620.000000,48620,48620.000000,48620.000000
mean,10701.479761,1.019622,2015-06-29 11:03:43.611682560,16.494132,16.821474
min,1.000000,1.000000,2015-01-01 00:00:00,9.750000,9.750000
25%,5337.000000,1.000000,2015-03-31 00:00:00,12.750000,12.750000
50%,10682.500000,1.000000,2015-06-28 00:00:00,16.500000,16.500000
75%,16100.000000,1.000000,2015-09-28 00:00:00,20.250000,20.500000
max,21350.000000,4.000000,2015-12-31 00:00:00,35.950000,83.000000
std,6180.119770,0.143077,NaN,3.621789,4.437398

In [10]:
# Summary statistics of the categorical columns
for category in ['pizza_size', 'pizza_category', 'pizza_ingredients', 'pizza_name']:
    print(category)
    print(f"Summary statistics of {category} are: \n{pizza_df[category].describe()}\n")

pizza_size
Summary statistics of pizza_size are:
count     48620
unique        5
top           L
freq      18526
Name: pizza_size, dtype: object

pizza_category
Summary statistics of pizza_category are:
count       48620
unique          4
top       Classic
freq        14579
Name: pizza_category, dtype: object

pizza_ingredients
Summary statistics of pizza_ingredients are:
count                                                 48620
unique                                                   32
top       Pepperoni, Mushrooms, Red Onions, Red Peppers,...
freq                                                   2416
Name: pizza_ingredients, dtype: object

pizza_name
Summary statistics of pizza_name are:
count                        48620
unique                          32
top       The Classic Deluxe Pizza
freq                          2416
Name: pizza_name, dtype: object

In [11]:
# Check for null values in the dataset
pizza_df.isnull().sum()

order_id             0
pizza_id             0
quantity             0
order_date           0
order_time           0
unit_price           0
total_price          0
pizza_size           0
pizza_category       0
pizza_ingredients    0
pizza_name           0
dtype: int64

In [12]:
# Check for duplicates in the dataset
pizza_df.duplicated().sum()

0

In [13]:
# Merging (Concatenate) the Order Date and Order Time Columns
order_date_time = pizza_df['order_date'].dt.strftime('%Y-%m-%d') + ' ' + pizza_df['order_time'].astype(str)

In [14]:
# Convert the merged column to datetime
pizza_df['order_date_time'] = pd.to_datetime(order_date_time, format='%Y-%m-%d %H:%M:%S')

In [15]:
pizza_df.head()

,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name,order_date_time
order_details_id,,,,,,,,,,,,
1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza,2015-01-01 11:38:36
2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza,2015-01-01 11:57:40
3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza,2015-01-01 11:57:40
4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza,2015-01-01 11:57:40
5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,2015-01-01 11:57:40

In [16]:
# Extract the hour from the order_date_time column
pizza_df['hour'] = pizza_df['order_date_time'].dt.hour
pizza_df.head()

,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name,order_date_time,hour
order_details_id,,,,,,,,,,,,,
1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza,2015-01-01 11:38:36,11
2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza,2015-01-01 11:57:40,11
3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza,2015-01-01 11:57:40,11
4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza,2015-01-01 11:57:40,11
5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,2015-01-01 11:57:40,11

In [17]:
# Extracting the month name from the order_date_time column
# pizza_df['month'] = pizza_df['order_date_time'].dt.month_name()
pizza_df['month'] = pizza_df['order_date_time'].dt.strftime('%B')
pizza_df.head()

,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name,order_date_time,hour,month
order_details_id,,,,,,,,,,,,,,
1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza,2015-01-01 11:38:36,11,January
2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza,2015-01-01 11:57:40,11,January
3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza,2015-01-01 11:57:40,11,January
4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza,2015-01-01 11:57:40,11,January
5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,2015-01-01 11:57:40,11,January

In [18]:
# Creating Time Bins: -1 to 5 am (midnight to early morning), 6 to 11 am (morning), 12 to 17 pm (afternoon), 17 to 23 pm (evening)
# Creating time bins intervals
time_bins = [-1, 5, 11, 17, 23]

# Creating labels
time_labels = ['Midnight to Early Morning', 'Morning', 'Afternoon', 'Evening']

# Creating a new column for the time bins
pizza_df['time_bin'] = pd.cut(pizza_df['hour'], bins=time_bins, labels=time_labels, right=True)

In [19]:
pizza_df.tail()

,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name,order_date_time,hour,month,time_bin
order_details_id,,,,,,,,,,,,,,,
48616,21348,ckn_alfredo_m,1,2015-12-31,21:23:10,16.75,16.75,M,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",The Chicken Alfredo Pizza,2015-12-31 21:23:10,21,December,Evening
48617,21348,four_cheese_l,1,2015-12-31,21:23:10,17.95,17.95,L,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",The Four Cheese Pizza,2015-12-31 21:23:10,21,December,Evening
48618,21348,napolitana_s,1,2015-12-31,21:23:10,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza,2015-12-31 21:23:10,21,December,Evening
48619,21349,mexicana_l,1,2015-12-31,22:09:54,20.25,20.25,L,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,2015-12-31 22:09:54,22,December,Evening
48620,21350,bbq_ckn_s,1,2015-12-31,23:02:05,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza,2015-12-31 23:02:05,23,December,Evening

## Data Visualization

**Business Tasks**
- Calculate total sales revenue for each pizza category.
- Calculate a monthly sales DataFrame.
- Create a line chart for month sales.
- Identify most ordered/popular pizza sales.

In [20]:
# Calculating the total sales for each pizza category
total_sales = pizza_df.groupby('pizza_category')['total_price'].sum().sort_values(ascending=False).reset_index()
total_sales

  pizza_category  total_price
0        Classic    220053.10
1        Supreme    208197.00
2        Chicken    195919.50
3         Veggie    193690.45

In [21]:
# %pip install nbformat

In [ ]:
# Create a barchart for the total sales of each pizza category
fig = px.bar(
    total_sales, 
    x='pizza_category', 
    y='total_price', 
    title='Total Sales of each Pizza Category', 
    labels={'total_price': 'Total Sales in Dollars', 'pizza_category': 'Pizza Category'}, 
    color='pizza_category'
)

# Adding data labels to the bar
fig.update_traces(texttemplate='%{y}', textposition='outside')

# Update the layout
fig.update_layout(
    bargap=0.2
)

# Display the barchart
fig.show()

In [ ]:
# Create a monthly total sales DataFrame
monthly_sales = pizza_df.groupby('month')['total_price'].sum().reset_index()
monthly_sales

        month  total_price
0       April     68736.80
1      August     68278.25
2    December     64701.15
3    February     65159.60
4     January     69793.30
5        July     72557.90
6        June     68230.20
7       March     70397.10
8         May     71402.75
9    November     70395.35
10    October     64027.60
11  September     64180.05

In [33]:
# Order the month column from `January` to `December`
ordered_months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
monthly_sales['month'] = pd.Categorical(monthly_sales['month'], categories=ordered_months, ordered=True)

monthly_sales = monthly_sales.sort_values('month')
monthly_sales

        month  total_price
4     January     69793.30
3    February     65159.60
7       March     70397.10
0       April     68736.80
8         May     71402.75
6        June     68230.20
5        July     72557.90
1      August     68278.25
11  September     64180.05
10    October     64027.60
9    November     70395.35
2    December     64701.15

In [34]:
# Create a line chart for the monthly total sales
fig = px.line(
    monthly_sales, 
    x='month', 
    y='total_price', 
    title='Monthly Total Sales', 
    labels={'total_price': 'Total Sales in Dollars', 'month': 'Month'}
)

# Adding data labels to the line
fig.update_traces(texttemplate='%{y}', textposition='top center')

# Update the layout
fig.update_layout(
    xaxis={'categoryorder': 'array', 'categoryarray': ordered_months}
)

# Display the line chart
fig.show()

In [35]:
# Most ordered pizza size
most_ordered_size = pizza_df['pizza_size'].value_counts().reset_index()
most_ordered_size.columns = ['pizza_size', 'total_orders']
most_ordered_size

  pizza_size  total_orders
0          L         18526
1          M         15385
2          S         14137
3         XL           544
4        XXL            28

In [36]:
# Create a pie chart for the most ordered pizza size
fig = px.pie(
    most_ordered_size, 
    values='total_orders', 
    names='pizza_size', 
    title='Most Ordered Pizza Size', 
    labels={'total_orders': 'Total Orders', 'pizza_size': 'Pizza Size'}
)

# Display the pie chart
fig.show()