## Pizza Sales Analysis

In [7]:
# Import libraries
import pandas as pd 
# pd?

In [ ]:
# %pip install openpyxl

In [17]:
pizza_df = pd.read_excel("../EDA/PizzaSalesData.xlsx", index_col=0)
pizza_df.head()

,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
order_details_id,,,,,,,,,,,
1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [ ]:
# Columns present in the dataset
pizza_df.columns

Index(['order_id', 'pizza_id', 'quantity', 'order_date', 'order_time',
       'unit_price', 'total_price', 'pizza_size', 'pizza_category',
       'pizza_ingredients', 'pizza_name'],
      dtype='object')

In [ ]:
# Number of rows and columns
pizza_df.shape

(48620, 11)

In [21]:
# Data types of the columns
pizza_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48620 entries, 1 to 48620
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           48620 non-null  int64
 1   pizza_id           48620 non-null  object
 2   quantity           48620 non-null  int64
 3   order_date         48620 non-null  datetime64[ns]
 4   order_time         48620 non-null  object
 5   unit_price         48620 non-null  float64
 6   total_price        48620 non-null  float64
 7   pizza_size         48620 non-null  object
 8   pizza_category     48620 non-null  object
 9   pizza_ingredients  48620 non-null  object
 10  pizza_name         48620 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(2), object(6)
memory usage: 4.5+ MB

### Data Cleaning
- Change datatypes of the following columns to *category* using *.astype('')*:
    - pizza_size
    - pizza_category
    - pizza_ingredients
    - pizza_name

In [ ]:
pizza_df['pizza_size'] = pizza_df['pizza_size'].astype('category')
pizza_df['pizza_category'] = pizza_df['pizza_category'].astype('category')
pizza_df['pizza_ingredients'] = pizza_df['pizza_ingredients'].astype('category')
pizza_df['pizza_name'] = pizza_df['pizza_name'].astype('category')

In [28]:
# Inspect unique values in the Categorical columns
for category in ['pizza_size', 'pizza_category', 'pizza_ingredients', 'pizza_name']:
    # print(category)
    print(f"Unique values in {category} are: {pizza_df[category].sort_values().unique()}\n")

Unique values in pizza_size are: ['L', 'M', 'S', 'XL', 'XXL']
Categories (5, object): ['L', 'M', 'S', 'XL', 'XXL']

Unique values in pizza_category are: ['Chicken', 'Classic', 'Supreme', 'Veggie']
Categories (4, object): ['Chicken', 'Classic', 'Supreme', 'Veggie']

Unique values in pizza_ingredients are: ['Bacon, Pepperoni, Italian Sausage, Chorizo Sa..., 'Barbecued Chicken, Red Peppers, Green Peppers..., 'Brie Carre Cheese, Prosciutto, Caramelized On..., 'Calabrese Salami, Capocollo, Tomatoes, Red On..., 'Capocollo, Red Peppers, Tomatoes, Goat Cheese..., ..., 'Spinach, Mushrooms, Tomatoes, Green Olives, F..., 'Spinach, Red Onions, Pepperoni, Tomatoes, Art..., 'Tomatoes, Anchovies, Green Olives, Red Onions..., 'Tomatoes, Red Peppers, Jalapeno Peppers, Red ..., '慛duja Salami, Pancetta, Tomatoes, Red Onions,...]
Length: 32
Categories (32, object): ['Bacon, Pepperoni, Italian Sausage, Chorizo Sa..., 'Barbecued Chicken, Red Peppers, Green Peppers..., 'Brie Carre Cheese, Prosciutto, Caramelized On..., 'Calabrese Salami, Capocollo, Tomatoes, Red On..., ..., 'Spinach, Red Onions, Pepperoni, Tomatoes, Art..., 'Tomatoes, Anchovies, Green Olives, Red Onions..., 'Tomatoes, Red Peppers, Jalapeno Peppers, Red ..., '慛duja Salami, Pancetta, Tomatoes, Red Onions,...]

Unique values in pizza_name are: ['The Barbecue Chicken Pizza', 'The Big Meat Pizza', 'The Brie Carre Pizza', 'The Calabrese Pizza', 'The California Chicken Pizza', ..., 'The Spinach Pesto Pizza', 'The Spinach Supreme Pizza', 'The Spinach and Feta Pizza', 'The Thai Chicken Pizza', 'The Vegetables + Vegetables Pizza']
Length: 32
Categories (32, object): ['The Barbecue Chicken Pizza', 'The Big Meat Pizza', 'The Brie Carre Pizza', 'The Calabrese Pizza', ..., 'The Spinach Supreme Pizza', 'The Spinach and Feta Pizza', 'The Thai Chicken Pizza', 'The Vegetables + Vegetables Pizza']

In [29]:
# Summary statistics of the numerical columns
pizza_df.describe()

,order_id,quantity,order_date,unit_price,total_price
count,48620.000000,48620.000000,48620,48620.000000,48620.000000
mean,10701.479761,1.019622,2015-06-29 11:03:43.611682560,16.494132,16.821474
min,1.000000,1.000000,2015-01-01 00:00:00,9.750000,9.750000
25%,5337.000000,1.000000,2015-03-31 00:00:00,12.750000,12.750000
50%,10682.500000,1.000000,2015-06-28 00:00:00,16.500000,16.500000
75%,16100.000000,1.000000,2015-09-28 00:00:00,20.250000,20.500000
max,21350.000000,4.000000,2015-12-31 00:00:00,35.950000,83.000000
std,6180.119770,0.143077,NaN,3.621789,4.437398

In [35]:
# Summary statistics of the categorical columns
for category in ['pizza_size', 'pizza_category', 'pizza_ingredients', 'pizza_name']:
    print(category)
    print(f"Summary statistics of {category} are: \n{pizza_df[category].describe()}\n")

pizza_size
Summary statistics of pizza_size are:
count     48620
unique        5
top           L
freq      18526
Name: pizza_size, dtype: object

pizza_category
Summary statistics of pizza_category are:
count       48620
unique          4
top       Classic
freq        14579
Name: pizza_category, dtype: object

pizza_ingredients
Summary statistics of pizza_ingredients are:
count                                                 48620
unique                                                   32
top       Pepperoni, Mushrooms, Red Onions, Red Peppers,...
freq                                                   2416
Name: pizza_ingredients, dtype: object

pizza_name
Summary statistics of pizza_name are:
count                        48620
unique                          32
top       The Classic Deluxe Pizza
freq                          2416
Name: pizza_name, dtype: object

In [36]:
# Check for null values in the dataset
pizza_df.isnull().sum()

order_id             0
pizza_id             0
quantity             0
order_date           0
order_time           0
unit_price           0
total_price          0
pizza_size           0
pizza_category       0
pizza_ingredients    0
pizza_name           0
dtype: int64